.menu-container {
  position: relative;
}

.menu-toggle {
  display: none;
}

.menu-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100;
  cursor: pointer;
}

.menu-icon {
  display: block;
  width: 24px;
  height: 24px;
  border-radius:50%;
  background-color: #000;
  transition: transform 0.3s ease-in-out;
}

.menu {
  position: fixed;
  top: 0;
  right: -306px; /* Start position outside the screen */
  width: 306px;
  height: 100vh;
  background-color: #dc0f0f;
  padding: 20px;
  box-sizing: border-box;
  transition: right 0.3s ease-in-out;
}

.menu-open .menu-icon {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.menu-open .menu {
  right: 0; /* Slide the menu in */
}
